{{- range .ssh_bastions }}
Host {{ .range }}
    ProxyJump {{ .bastion }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

{{ if not (contains "*" .range) -}}
Host jump-{{ .name }}
    HostName {{ .range }}
    ProxyJump {{ .bastion }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

{{ end -}}
{{- end -}}
