[defaults]
deprecation_warnings=False
host_key_checking = True
forks = 39
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/facts.d
fact_caching_timeout = 0

command_warnings=False
transport = smart
#transport = paramiko
retry_files_enabled = True
retry_files_save_path = ~/.ansible-retry

vault_password_file = ~/.ansible/vault
timeout = 60
gather_timeout = 10
GSSAPIAuthentication=no
UseDNS=no

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=900s -o GSSAPIAuthentication=no -o StrictHostKeyChecking=accept-new
pipelining = True

[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan
